#navbar {
    display: flex;
    justify-content: space-between;
}

#search_bar {
    text-align: center;
}

#search {
    width: 25%;
    height: 25px;
}

#movies {
    width: 96%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

#movies > div {
    border: 1px solid;
}

.imgBox{
    width: 100%;
    height: 85%;
}

img {
    width: 100%;
    height: 100%;
}

@media all and (min-width: 300px) and (max-width: 740px) {
    #movies {
        grid-template-columns: repeat(1, 1fr);
    }
}